<div class="container-fluid vh-100 bg-light p-5 ">
  <span><b>Presentation of Planner data from Graph api</b></span>
  <div class="table-responsive bg-light tbl">
    <table class="border  table  table-hover">
      <thead>
        <tr>
          <th>Project</th>
          <th>Description</th>
          <th>Stage</th>
          <th>Task Due Date</th>
          <th>Tasks</th>
          <th>Assigned To</th>
        </tr>
      </thead>
      <tbody class=" border ">
        <tr *ngFor="let data of (projects | async) ">
          <td>{{ data.title  }}</td>
          <td>{{ data.description  }}</td>

          <td><button type="button" [ngClass]=getStage(data.stage) placement="bottom" [ngbPopover]="popStage"
              popoverTitle="Shows the progress of Project, Live update">{{ data.stage }}</button></td>
          <td>
            <div class="input-group">
              <input class="form-control cal" placeholder="{{ data.dueStartDate?.seconds*1000 | date:'dd/MM/yyyy' }}"
                name="dp" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar " (click)="d.toggle()" type="button">
                  <fa-icon [icon]="faCalendar"></fa-icon>
                </button>
              </div>
            </div>
          </td>

          <td>
            <div placement="bottom" [ngbPopover]="popContent" popoverTitle="Tick as complete">{{ data.notes  }}
            </div>
          </td>
          <td>{{ data.owner  }}</td>
          <!-- <td>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%"
                    aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td> -->
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #popContent><del>Scope works</del><br><del>Meet Kev on site</del><br><Span>Send in
      quote</Span><br><span>Inform Irrigation</span>
  </ng-template>
  <ng-template #popStage>
    <span>Planning</span><br>
    <span>Quoting</span><br>
    <span>Execution</span><br>
    <span>Monitoring</span><br>
    <span>Completed</span>
  </ng-template>
</div>
