<div class="container-fluid vh-100 bg-dark p-5">
  <div class="card text-center bg-dark mx-auto mt-5">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-dark">
          <caption>List of projects</caption>
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
