<div class="container-fluid vh-100 bg-light p-5">

  <div class="table-responsive bg-light ">
    <table class="border  table  table-hover">
      <thead>
        <tr>
          <th>Project</th>
          <th>Description</th>
          <th>Dtart Date</th>
          <th>Stage</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody class=" border " *ngFor="let data of (projects | async)">
        <tr>
          <td>{{ data.title  }}</td>
          <td>{{ data.description  }}</td>
          <td>{{ data.dueStartDate}}</td>
          <td>{{ data.stage  }}</td>
          <td>{{ data.notes  }}</td>
          <!-- <td>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%"
                    aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
