<nav class="navbar navbar-expand-md bg-light text-dark border-bottom border-danger fixed-top">
  <a class="navbar-brand text-danger" href="#">Servco Capx</a>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link text-dark" routerLink="/home" (click)="isMenuCollapsed = true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/contact-list" (click)="isMenuCollapsed = true">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/new" (click)="isMenuCollapsed = true">Create</a>
      </li>
    </ul>
    <span class="navbar-text">
      <ng-container *ngIf="authService.authenticated; else elseTemplate">
        <div>{{authService.userData.displayableId  }}</div>
      </ng-container>
      <ng-template #elseTemplate>
        <div>Not Authenticated</div>
      </ng-template>

    </span>
  </div>
</nav>
