<div class="container mt-5">
  <form>
    <div class="form-group">
      <label for="titleInput">Title</label>
      <input type="text" class="form-control" id="titleImput" aria-describedby="titleHelp" placeholder="Project Title">
    </div>
    <div class="form-group">
      <label for="discInput">Description</label>
      <input type="text" class="form-control" id="discInput" placeholder="Description">
    </div>
    <div class="form-group">
      <label for="locationInput">Location</label>
      <input type="text" class="form-control" id="locationInput" placeholder="Location">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
